@import 'libs/bootstrap-reboot.min';
@import 'blocks/fonts';

@import 'base/variables';
@import 'base/mixins';

@import 'blocks/header'; 
@import 'blocks/promo';
@import 'blocks/buttons';
@import 'blocks/weAre';
@import 'blocks/ourWorks';

html, body {
    height: 100%;
}

body {
    background: url('../img/bg/main_bg.png');
}

* {
    font-family: 'HelveticaNeueCyr';
    margin: 0;
    padding: 0;
}

main {
    flex: 1 1 auto;
}

[class*="__container"] {
    width: 1208px;
    margin: 0 auto;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.italic {
    font-style: italic;
    font-weight: 500;
}

.fsz_60 {
    font-size: 60px;
}