.btn {
    width: 237px;
    height: 66px;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    background: $main-color;
    color: #FFFFFF;
    &::after {
        content: '';
        position: absolute;
        bottom: 15%;
        right: 5%;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: 0.7s all;
        border: 1px solid $main-color;
        pointer-events: none;
    }
    &:hover::after {
        transform: translate(5%, 12%);
    }
    &_white {
        width: 150px;
        height: 66px;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;
        transition: 0.7s all;
        background-color: rgba(28, 28, 28, 0);
        color: $main-color;
        &:hover {
            transform: scale(0.95);
        }
    }
}
.ourPrices__btn {
    width: 170px;
    height: 66px;
    transition: 0.7s all;
    font-weight: 550;
    font-size: 14px;
    text-transform: uppercase;
    color: $main-color;
    background: #FFFFFF;
    &:hover {
        transform: scale(0.9);
    }
}

.contactUs__btn_black {
    margin-top: 50px;
    width: 237px;
    height: 66px;
    font-weight: 550;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.7s all;
    color: #FFFFFF;
    background: $main-color;
    &:hover {
        transform: scale(0.9);
    }
}
