.header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px;
    width: 100%;
    &__container {
        display: flex;
        justify-content: space-between;
        height: 64px;
    }
    &__menu {
        flex: 0 0 41%;
    }
    &__logo {
        display: inline-block;
        transition: 3s all;
        & img {
            height: 27px;
        }
        &:hover {
            transform: scale(1.2);
        }
    }
    &__phone {
        flex: 0 0 17%;
    }
}

.logo__wrapper {
    flex: 0 0 42%;
    padding-left: 46px;
}

.menu {
    &__list {
        display: flex;
        gap: 30px;
        list-style: none;
    }
    &__link {
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none;
        transition: 0.5s all;
        color: $header-color;
        &:hover {
            padding-bottom: 6px;
            text-decoration: none;
            border-bottom: 1.5px solid $header-color;
            color: $header-color;
        }
    }
}

.phone {
    font-size: 17px;
    transition: 0.5s all;
    color: $header-color;
    &:hover {
        color: $header-color;
        padding-bottom: 6px;
        text-decoration: none;
        border-bottom: 1.5px solid $header-color;
    }
}
       