.ourWorks {
    padding: 150px 0 0 22px;
    height: 2008px;
    &__title {
        font-weight: 500;
        font-size: 60px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $main-color;
    }
    &__gridWrapper {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(5, 250px);
        grid-template-rows: repeat(6, 250px);
        gap: 21px;
    }
    &__arrows {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    &__btns {
        margin-top: 80px;
        position: relative;
        display: flex;
        justify-content: center;
        gap: 40px;
    }   
    &__border {
        position: absolute;
        bottom: 10px;
        left: 380px;
        width: 237px;
        height: 66px;
        z-index: -1;
        border: 1px solid $main-color;
    } 
    &__link {
        transition: 0.7s all;
        &:hover {
            transform: scale(0.95);
        }
    }
}

.watch {
    &__1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    &__2 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    &__3 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    &__4 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    &__5 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

.filter {
    &__1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    &__2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    &__3 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    &__4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    &__5 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}

.printer {
    &__1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 7;
    }
    &__2 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    &__3 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    &__4 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    &__5 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 7;
    }
}

.inactive {
    display: block;
    width: 20px;
    height: 20px;
    font-size: 40px;
    transition: 0.5s all;
    color: #8C8C8C;
    &:hover {
        text-decoration: none;
        transform: scale(1.2);
        color: #8C8C8C;
    }
}

.active {
    display: block;
    width: 20px;
    height: 20px;
    font-size: 40px;
    transition: 0.5s all;
    color: $main-color;
    &:hover {
        text-decoration: none;
        transform: scale(1.2);
        color: $main-color;
    }
}